<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marbit.hobbytrophies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GameDetailActivity"
            android:label="@string/title_activity_trophy_detaill"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".TrophyDetailActivity"
            android:label="@string/title_activity_trophy_detaill"
            android:parentActivityName=".GameDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.GameDetailActivity" />
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentWindow" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameDetailProfileActivity"
            android:label="@string/title_activity_game_detail_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".NewMeetingActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".MeetingDetailActivity"
            android:label="@string/title_activity_meeting_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Perfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MeetingDetailActivity" />
        </activity>

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".EditMeetingActivity"
            android:parentActivityName=".MeetingDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MeetingDetailActivity" />
        </activity>
        <activity
            android:name=".market.NewItemActivity"
            android:label="Vender Producto"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".market.ItemDetailActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".market.EditItemActivity"
            android:parentActivityName=".market.ItemDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".market.ItemDetailActivity" />
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".wishes.NewWishActivity"
            android:label="Agregar deseo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".wishes.DetailWishActivity"
            android:label="Detalle del deseo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.MainActivity" />
        </activity>
        <activity
            android:name=".market.ItemSoldActivity"
            android:label=""
            android:parentActivityName=".market.ItemDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marbit.hobbytrophies.market.ItemDetailActivity" />
        </activity>
    </application>

</manifest>